
* {
    margin: 0px;
    font: AmazonLite;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 80vh auto 20vh;
    grid-template-areas: 
    "nav nav nav"
    "backimg backimg backimg"
    ". contentbox ."
    "footer footer footer";
}



/* Grid Area: Nav Bar */
.nav {
    grid-area: nav;
    background-color: black;
    color: white;
    display: flex;
}

.nav > h2 {
    display: flex;
    padding-left: 7%;
    width: 300px;
    align-items: center;
}

.nav-links {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
}

.nav-links > a {
    color: white;
    text-decoration: none;
}



/* Grid Area: Background Image */
.backimg {
    grid-area: backimg;
    position: relative;
    text-align: center;
    color: white;
}

.backimg > img {
    width: 100%;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 600%;
}



/* Grid Area: Content / Show Cards */

    /* Month Selector Box */
.contentbox {
    grid-area: contentbox;
    margin-top: 140px;
}

.button {
    height: 100px;
    margin-bottom: 40px;
    text-align: center;
}

#MonthSelector {
    width: 850px;
    margin-top: 70px;
    padding-left: 30px;
    text-align: left;
}

    /* Show Cards Box */
.allcards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    padding-left: 15px;;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid gray;
}

.show-img {
    width: 150px;
    height: 125px;
}

.text-flexparent {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
}

.button-boxparent {
    display: flex;
    flex-direction: row-reverse;
    max-height: 40px;
    padding-left: 200px;
    padding-top: 40px;
}

.readmore-button {
    color: white;
    text-decoration: none;
}



/* Grid Area: Footer */
.footer {
    grid-area: footer;
    height: 300px;
    background-color: black;
}

.footer-flexLG {
    display: flex;
    padding-top: 40px;
}

#img-map {
    height: 200px;
    padding-left: 100px;
    position: relative;
    left: 40px;
}

.sitemap-flexSM {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    position: relative;
    left: 60px;
}

.columns-flexXTRASM {
    color: white;
    display: flex;
    position: relative;
    left: 0px;
}

.column {
    padding-left: 50px;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.column > h2 {
    padding-bottom: 25px;
}

.column > p {
    padding-top: 20px;
    font-size: x-small;
}